In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime, timedelta

In [2]:
import numpy as np
import pandas as pd
from faker import Faker
import random

# Initialize Faker
fake = Faker()

# Set random seed for reproducibility
np.random.seed(42)

# Number of samples
# n = 327156
n = 300

# Generate synthetic data
def generate_synthetic_data(n):
    data = pd.DataFrame()
    
    # Age: 18 to 80
    data['age'] = np.random.randint(18, 100, size=n)
    
    # Gender
    data['gender'] = np.random.choice(['Male', 'Female'], size=n, p=[0.5, 0.5])
    
    # Marital Status
    data['marital_status'] = np.random.choice(['Single', 'Married', 'Divorced', 'Widowed'], size=n, p=[0.4, 0.5, 0.07, 0.03])
    
    # Vehicle Age: 0 to 30 years
    data['vehicle_age'] = np.random.randint(0, 30, size=n)
    
    # Vehicle Type
    data['vehicle_type'] = np.random.choice(['Sedan', 'SUV', 'Truck', 'Coupe', 'Convertible'], size=n, p=[0.4, 0.3, 0.15, 0.1, 0.05])
    
    # Annual Mileage: 5,000 to 100,000
    data['annual_mileage'] = np.random.randint(5000, 100001, size=n)
    
    # Location
    data['location'] = np.random.choice(['Urban', 'Suburban', 'Rural'], size=n, p=[0.5, 0.3, 0.2])
    
    # Number of Claims in the Past Year: 0 to 10
    data['num_claims'] = np.random.poisson(0.5, size=n)
    
    # Credit Score: 300 to 850
    data['credit_score'] = np.random.randint(300, 851, size=n)
    
    # Coverage Type
    data['coverage_type'] = np.random.choice(['Basic', 'Standard', 'Premium'], size=n, p=[0.3, 0.5, 0.2])
    
    # Generate Premium based on some logic
    base_premium = 500
    premium = base_premium + (data['age'] * 2) \
              + (data['vehicle_age'] * 20) \
              + (data['annual_mileage'] / 1000 * 10) \
              + (data['num_claims'] * 100) \
              - (data['credit_score'] / 100) * 10
    
    # Adjust premium based on categorical variables
    premium += data['gender'].map({'Male': 50, 'Female': -20})
    premium += data['marital_status'].map({'Single': 30, 'Married': -10, 'Divorced': 20, 'Widowed': 25})
    premium += data['vehicle_type'].map({'Sedan': 0, 'SUV': 100, 'Truck': 150, 'Coupe': 80, 'Convertible': 200})
    premium += data['location'].map({'Urban': 100, 'Suburban': 50, 'Rural': 20})
    premium += data['coverage_type'].map({'Basic': 0, 'Standard': 200, 'Premium': 400})
    
    # Add some noise
    premium += np.random.normal(0, 50, size=n)
    
    # Ensure premium is at least a minimum value
    premium = np.maximum(premium, 100)
    
    data['premium'] = premium.round(2)
    
    return data

# Generate data
data = generate_synthetic_data(n)

In [3]:
data.head()

,age,gender,marital_status,vehicle_age,vehicle_type,annual_mileage,location,num_claims,credit_score,coverage_type,premium
0,69,Female,Married,20,Sedan,6925,Urban,1,513,Premium,1672.26
1,32,Female,Single,16,SUV,88976,Urban,0,561,Standard,2103.98
2,89,Male,Married,6,Coupe,31015,Urban,0,582,Basic,1259.05
3,78,Male,Married,16,Truck,38320,Urban,0,766,Basic,1517.07
4,38,Female,Single,19,Truck,69881,Urban,1,679,Basic,2017.92

In [4]:
data['vehicle_age'].max()

np.int32(29)

In [5]:
data.to_csv('insurance_data.csv')